.contact-form {
  background-color: var(--purple-color);
  color: var(--white-color);
  padding: 2rem;
  flex: 1 1 45%;
}

.contact-form h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}


.input,
.textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  background: transparent;
  border: 2px solid var(--black-color); 
  color: var(--white-color);
  border-radius: 8px;
  font-size: 0.95rem;
}

.textarea {
  height: 150px;
  resize: none;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--white-color);
  opacity: 0.8;
}

.btn-submit {
  width: 100%;
  background: transparent;
  border: 2px solid var(--black-color);
  padding: 0.75rem;
  color: var(--white-color);
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: 500;
}

.btn-submit:hover {
  background: var(--pink-color);
  color: var(--white-color);
}
