:root{
    --black-color:#000000;
    --purple-color: #9929EA;
    --pink-color:#CC66DA;
    --white-color: #F2F2F2;
    

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--black-color); 
  color: var(--white-color);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

:root {
  --font-header: 'Playfair Display', serif;
  --font-body: 'Poppins', sans-serif;
}
